### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resource/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [48]:
# Calculate the total number of player
player_counts = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players":[player_counts]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
# Calculate the purchasing analysis and provide a summary table
num_of_unique_item = len(purchase_data["Item ID"].unique())
num_of_unique_item

average_price = purchase_data["Price"].mean()
average_price

total_purchase = purchase_data['Purchase ID'].count()
total_purchase

total_revenue = purchase_data['Price'].sum()
total_revenue

summary_df = pd.DataFrame({"Numner of Unique Items":[num_of_unique_item], 
                            "Average Price":[average_price], 
                            "Number of Purchases":[total_purchase],
                            "Total Revenue":[total_revenue]})
summary_df

   Numner of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [50]:
#Calculate the percentage and count for male, female, and other/non-disclosed, and provide a summary table

#Total for each gender
gender = purchase_data[["SN", "Gender"]]
gender = gender.drop_duplicates()
gender_count = gender["Gender"].value_counts()

# Percentage Calculation for each gender
total_players = len(purchase_data["SN"].unique())
gender_percentage = round((gender_count/total_players)*100,2)

# Create summary table with Dataframe
gender_summary = pd.DataFrame({ "Percentage of Players": gender_percentage,"Total Count": gender_count})
gender_summary.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_summary

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:


# Purchase count for both male and female 652/113
male_purchase_counts = len(purchase_data.loc[purchase_data["Gender"] == "Male", :])
female_purchase_counts = len(purchase_data.loc[purchase_data["Gender"] == "Female", :])
others_purchase_counts = len(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :])


# Total purchase value for male and female $1967.64/$361.94
male_total_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
female_total_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
Others_total_price = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()


# Average purchase value for male and female 3.02/3.2
male_avg_price = round((male_total_price/male_purchase_counts),2)
female_avg_price = round((female_total_price/female_purchase_counts),2)
Others_avg_price = round((Others_total_price/others_purchase_counts),2)

# Average total purchase value per person $4.47/$4.07
male_gender_counts =  len(gender.loc[gender["Gender"] == "Male", :])
female_gender_counts =  len(gender.loc[gender["Gender"] == "Female", :])
others_gender_counts = len(gender.loc[gender["Gender"] == "Other / Non-Disclosed", :])
male_avg_purchase_value = round((male_total_price / male_gender_counts),2)
female_avg_purchase_value = round((female_total_price / female_gender_counts),2)
others_avg_purchase_value = round((Others_total_price / others_gender_counts),2)


# Create Summary Table with Dataframe
gender_purchase_summary = pd.DataFrame({ "Purchase Count": [male_purchase_counts, female_purchase_counts,                                                        others_purchase_counts], "Average Purchase Price": [male_avg_price, female_avg_price, Others_avg_price], "Total Purchase Value": [male_total_price, female_total_price, Others_total_price], "Avg Total Purchase per Person": [male_avg_purchase_value, female_avg_purchase_value, others_avg_purchase_value] })

gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,652,3.02,1967.64,4.07
1,113,3.20,361.94,4.47
2,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [52]:

# Create the bins for ages which is reference from purchase data
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# # Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new column inside of the DataFrame
age_df = purchase_data
age_df["Age Demographics"] = pd.cut(age_df["Age"], bins, labels=group_names)

# Create a GroupBy object based upon "View Group"
age_group = age_df.groupby("Age Demographics")

#Calculate total count
unique_players_count = age_group["SN"].nunique()

#Calculate percentage for each age group
percentage_players = round((unique_players_count/total_players)*100,2)

#Create DataFrame 
age_demographics_summary = pd.DataFrame({"Total count":unique_players_count,"Percentage of players":percentage_players})
age_demographics_summary

                  Total count  Percentage of players
Age Demographics
<10                        17                   2.95
10-14                      22                   3.82
15-19                     107                  18.58
20-24                     258                  44.79
25-29                      77                  13.37
30-34                      52                   9.03
35-39                      31                   5.38
40+                        12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Total purchase counts in eace age group
age_group = age_df.groupby("Age Demographics")
age_purchase_counts = age_group["Purchase ID"].count()


#Total purchase value in each age group
age_total_purchase_value = age_group["Price"].sum()

#Average purchase value in each age group 3.35
age_average_purchase_price = age_group["Price"].mean()

# Average total purchase per Person in each age group 4.54
unique_players_count = age_group["SN"].nunique()
avg_perchase_per_player = round(age_total_purchase_value/unique_players_count,2)

# Create summary table
age_purchase_summary = pd.DataFrame({"Purchase Count": age_purchase_counts, "Average Purchase Price": age_average_purchase_price,"Total Purchase Value": age_total_purchase_value, "Avg Total Purchase per Person": avg_perchase_per_player})

age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographics,,,,
<10,23,3.353478,77.13,4.54
10-14,28,2.956429,82.78,3.76
15-19,136,3.035956,412.89,3.86
20-24,365,3.052219,1114.06,4.32
25-29,101,2.900990,293.00,3.81
30-34,73,2.931507,214.00,4.12
35-39,41,3.601707,147.67,4.76
40+,13,2.941538,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
#Groupby players name with purchase data and calculate the sum
top_spender = purchase_data.groupby("SN").sum()

# Calculate the total price of each player spending
top_total_price = top_spender["Price"]

# Calculate the total purchase count for each player
top_purchase_count = purchase_data.groupby("SN").count()
top_purchase_count = top_purchase_count["Purchase ID"]
top_purchase_count

# Calculate the average purchase price for each player
top_avg_price = round(top_total_price/top_purchase_count,2)

# Create summary table for top 5 players
top5_spender_summary = pd.DataFrame({"Purchase Count": top_purchase_count, "Average Purchase Price": top_avg_price, "Total Purchase Value": top_total_price})

# Sort top 5 spender from summary table
top5_spender_summary = top5_spender_summary.sort_values(by=["Purchase Count", "Average Purchase Price", "Total Purchase Value"], ascending = False)

top5_spender_summary.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Iral74                    4                    3.40                 13.62
Chamjask73                3                    4.61                 13.83
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
#Groupby players name with purchase data and calculate the sum
popular_df = purchase_data.groupby("Item Name").sum()

#Calculate the total purchase count for the popular items
item_purchase_count = purchase_data.groupby("Item Name").count()
item_purchase_count = item_purchase_count["Purchase ID"]
item_purchase_count


#Calculate the total purchase value for popular items
item_total_purchase_value = popular_df["Price"]

#Calculate the average price for popular items
item_price = round(item_total_purchase_value/item_purchase_count,2)
item_price

# Create a summary table for popular items
popular_item_summary = pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": item_price, "Total Purchase Value": item_total_purchase_value})

# Sort top 5 popular items from summary table
popular_item_summary = popular_item_summary.sort_values(by=["Purchase Count", "Item Price", "Total Purchase Value"], ascending = False)

popular_item_summary.head(5)

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Nirvana,9,4.90,44.10
Fiery Glass Crusader,9,4.58,41.22
"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [56]:
popular_item_summary.head(5)

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Nirvana,9,4.90,44.10
Fiery Glass Crusader,9,4.58,41.22
"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77